body { margin: 0; font-family: sans-serif; }

/** SECTION MENU **/
 
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    z-index: 100;
    transition: background 0.3s erase;

    /* Crée un effet de vitre sablée qui floute l'œuvre d'art dessous */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Pour Safari */
    
    /* On ajoute un léger fond sombre pour uniformiser */
    background-color: rgba(0, 0, 0, 0.5);
}

.main-header.scrolled-past {
    /* background: rgb(255, 255, 255); */
    color: #000;
}
.main-header.scrolled-past a 
.main-header.scrolled-past .mobile-menu-btn {
    color: #000;
    background-color: #000;
}

/* Style du Menu Desktop */
.nav-menu {
    height: 30px;
}
.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0 100px 0 0;
    padding: 0;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: opacity 0.3s;
}
.nav-menu a:hover {
    opacity: 0.7;
}

.black-char {
    color:#000
}

/* Bouton Hamburger (caché sur Desktop) */
.mobile-menu-btn {
    display: none; /* On l'affichera avec les media queries */
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    gap: 6px;
}
.mobile-menu-btn span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
}

/** SECTION HERO / BIOGRAPHIE **/
/* On s'assure que le Hero prend toute la place dès le début */
.horizontal-container {
    height: 400vh; /* Plus ce chiffre est grand, plus le scroll sera lent */
    position: relative;
    background-color: #000; /* Fond noir pour faire ressortir l'œuvre */
}
.sticky-wrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Cache ce qui dépasse */
    display: flex;
    align-items: center;
    img {
        margin-top: 78px;
        height: 92vh;
    }
}

/* Titre par-dessus l'image */
.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Pour être au-dessus de l'image */
    color: white;
    text-align: center;
    pointer-events: none; /* Permet de scroller même si on est sur le texte */   
    /* Paramètres : x(0) y(0) flou(10px) couleur(noir avec opacité) */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.9), 
                 0 0 5px rgba(0, 0, 0, 0.5);

}

.hero-overlay h1 {
    font-size: 8rem;
    margin: 0;
    letter-spacing: 0px;
    /* text-shadow: 0 0 20px rgba(0,0,0,0.5); */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.hero-overlay h2 {
    font-size: 6rem;
}

.bio-text {
    /* Caché au départ */
    /* opacity: 0;  */
    font-size: 2rem;
    line-height: 1.6;
    margin-top: 100vh;
    border-radius: 15px;

    /* Crée un effet de vitre sablée qui floute l'œuvre d'art dessous */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Pour Safari */
    
    /* On ajoute un léger fond sombre pour uniformiser */
    background-color: rgba(0, 0, 0, 0.2); 
}

/** SECTION CAROUSEL */
.carousel-container {
    height: 100vh;
    background: rgb(255, 255, 255);
    margin: 10px 50px;
    position: relative;
    z-index: 20; /* Pour passer par-dessus le container sticky à la fin */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* ZONE TEXTE */
.title {
    padding-top: 50px;
    letter-spacing: 2px;
    font-size: 38px;
    text-align: center;
    span {
        font-size: 46px;
        color: #a10000;
        font-weight: 800;
        font-style: italic;
    }
}
.carousel-text {
    width: 40%;
    margin: 0 10px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1; */
    gap: 20px;
    .timeline {
        width: 100%;
        margin: 0 20px 0 0;
        .city {
            border: 1px solid;
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 30px;
            letter-spacing: 15px;
            text-align: center;
            span {
                font-size: 18px;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 20px;
            li {
                list-style: none;
                font-size: 24px;
                .date {
                    font-size: 34px;
                    letter-spacing: 10px;
                }
            }
            li:nth-child(1) {
                margin-right: 100px;
            }
            li:nth-child(2) {
                margin-right: 40px;
            }
        }
    }
    p {
        margin: 0px 10px 10px 0px;
        line-height: 28px;
        text-align: justify;
    }
    img {
        margin-top: 10px;
    }
}

/* ZONE CAROUSEL */
.carousel{
    margin: 10px auto;
    width: 60%;
    border: 5px solid red;
    display: flex;
    /* overflow-x: auto; */
    /* gap: 1em; */
    overflow: hidden;
    position: relative;
}
.carousel::-webkit-scrollbar {
    /* pour enlever la barre de défilement horizontale */
    display: none;
}
.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 50s infinite linear;
    padding-right: 1em;
    flex-shrink: 0;
}
.card {
    height: 600px;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 0.2em;
    text-align: center;
    align-content: center;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card .what-is-it {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 400px;
}
.cart .describ {
    flex: 0 0 600px;
    border: 2px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}
.card .describ {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;

    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}


/** Picto animé de la souris QUE JE VEUX GARDER ! */
.mouse-scroll-icon {
    position: absolute;
    bottom: 50px;
    width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    opacity: 0.7;
    transition: opacity 0.3;
}
.mouse-scroll-icon span {
    display: block;
    width: 4px;
    height: 8px;
    background-color: #333;
    border-radius: 50%;
    animation: scrollAnimation 1.5s infinite;
}

@keyframes scrollAnimation {
    0% { transform: translateY(5px); opacity: 1 }
    50% { transform: translateY(20px); opacity: 0 }
    100% { transform: translateY(5px); opacity: 1 }
}



